[submodule "3rd/sdl2"]
	path = 3rd/sdl2
	url = https://github.com/libsdl-org/SDL
[submodule "3rd/utf8"]
	path = 3rd/utf8
	url = https://github.com/shixiongfei/utf8.git
[submodule "3rd/miniz"]
	path = 3rd/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "3rd/nio4c"]
	path = 3rd/nio4c
	url = https://github.com/shixiongfei/nio4c.git
