[submodule "3rd/sdl2"]
	path = 3rd/sdl2
	url = https://github.com/libsdl-org/SDL
[submodule "3rd/utf8"]
	path = 3rd/utf8
	url = https://github.com/shixiongfei/utf8.git
[submodule "3rd/wren"]
	path = 3rd/wren
	url = https://github.com/wren-lang/wren.git
